Django==5.0.8
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.6.0
psycopg2-binary==2.9.12
gunicorn==22.0.0
whitenoise==6.9.0
dj-database-url==2.3.0
python-dotenv==1.1.1
plaid-python==30.0.0
requests==2.32.4
numpy==2.2.6
pandas==2.2.3
scikit-learn==1.7.1
Pillow==11.3.0
